[Unit]
Description=Temirbek web control panel
After=network.target tailscaled.service

[Service]
ExecStart=/usr/bin/env python3 /home/unitree/ustem_python_unitree/example/g1/audio/server.py
WorkingDirectory=/home/unitree/ustem_python_unitree
Restart=always
RestartSec=5
User=unitree
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
